<% if movies.count > 0 %>
<tr><td><%= (movies[0].year).to_i/10 %>0's</td></tr>
		<% movies.each_with_index do |movie, index| %>
			<tr>
				<td><%= index + 1 %></td>
				<td><%= movie.title %></td>
				<td><%= movie.flixratingspoints %></td>
				<td><%= movie.imdbranking %></td>
				<td><%= movie.tomatorating %></td>
				<td><%= movie.takings %></td>
			</tr>
		<% end %>

<% end %>