<h2><%= current_user.email %>'s picks</h2>
<h2>60's</h2>
<!-- <%#= text_field_tag(:title, "a", :id => "movie1") %> <p>Year: <span id="movie1year"></span> ID: <span id="movie1id"></span></p> -->

<!-- 

get user to input title
check if movie is in database
add to database if not
check movie is in correct date range
generate vote with correct details

 -->

 <script> 
   function search(query, movienum) {
   $.ajax({
    type: "GET",
    url: '/movies.json',
    data: { 
      q: query
    },
    dataType: 'json',
    success: function(msg) {
   		console.log(msg);
   		console.log(movienum);
   		$('#movie' + movienum).val(msg[0]['title']);
   		$('#movie' + movienum + 'year').text(msg[0]['year']);
   		$('#movie' + movienum + 'id').text(msg[0]['id']);
    }
  });
}

$(function() {

});
 </script>

 <% 18.times do |i| %>
<%#= i + 1 %>
<%= text_field_tag(:title, "", :id => "movie#{i}") %> <p>Year: <span id="movie<%= i %>year"></span> ID: <span id="movie<%= i %>id"></span></p>
<script>
		$('#movie<%= i %>').blur(function(e) {
		// console.log($('#movie1').val());
		search($('#movie<%= i %>').val(), <%= i %>);
	})
</script>
 <% end %>