<h2><%= current_user.email %>'s picks</h2>
<!-- 

get user to input title
check if movie is in database
add to database if not
check movie is in correct date range
generate vote with correct details

-->

<script> 
var errorcount = 0
	function search(query, movienum, decade) {
		$.ajax({
			type: "GET",
			url: '/movies.json',
			data: { 
				q: query
			},
			dataType: 'json',
			success: function(msg) {
				console.log(msg);
				console.log(movienum);
				$('#movie' + movienum).val(msg[0]['title']);
				$('#movie' + movienum + 'year').text(msg[0]['year']);
				$('#movie' + movienum + 'id').text(msg[0]['id']);
				$('#movie_id_' + movienum).val(msg[0]['id']);
				if ((msg[0]['year'] >= decade) && msg[0]['year'] <= decade+9) {
					$('#movie' + movienum + 'year').removeClass('error');
				} else {
					$('#movie' + movienum + 'year').addClass('error');
				}
				errorcount = $('.error').length;
				$('#errorcount').text(errorcount);
			}
		});
	}

</script>
<% choices = ['1st','2nd','3rd'] %>
<%= form_tag "/votes/multicast", :method => :post, id: "votescast" do %>

	<% 18.times do |i| %>
		<% decade = 1960 + (10*(i/3)) %><%= decade %>'s
		<%= choices[0] %><%= text_field_tag(:title, "", :id => "movie#{i}") %> <p>Year: <span id="movie<%= i %>year"></span> ID: <span id="movie<%= i %>id"></span></p>
		<%= hidden_field("movie_id", "#{i}", :value => 1) %>
		<script>
			$('#movie<%= i %>').blur(function(e) {
			search($('#movie<%= i %>').val(), <%= i %>, <%= decade %>);
			})
		</script>
		<% choices.rotate! %>
		<% end %>
		<p>Number of errors: <span id="errorcount">0</span> </p>
	<%= submit_tag "Vote", :id => "castbutton" %>
<% end %>

<script>
		$('#castbutton').click(function (e) {
			if (errorcount == 0) {
				$('#votescast').submit();
			} else {
				e.preventDefault();
				alert("Please correct " + errorcount + " mistakes. Movies must be from the correct decade.");
			}
		})

</script>